@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Lexend+Deca:wght@100..900&display=swap');
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Big Shoulders Display", sans-serif;
    font-optical-sizing: auto;
    font-size: larger;
    
}

.main{
 

    height: 500px;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    


    
}

.box1{
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
    height: 400px;
    width: 300px;
    color: white;
    display:flex;
    flex-direction: column;


    background-color:hsl(31, 77%, 52%);
    /* justify-content: center;
    align-items: center; */
padding-top: 4%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;

    img{
 
       height: 60px;
       width: 60px;

    }
    
    h1{
        
     font-size: 50px;  

    }
    p{
        margin-top: 20px;
        /* font: size 10px;
        font-weight:lighter;
        line-height: 25px; */
        font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight:lighter;
  font-style: normal;
  font-size: smaller;
font-weight: bolder;
color: rgba(255, 255, 255, 0.562);
    }
    button{
        border:1px solid white;
        border-radius: 40vw;
        padding: 15px;
        color:white;
        background-color:hsl(31, 77%, 52%);
        margin-top: 60px

    }


    
  
}
.box2{
    height: 400px;
    width: 300px;
    color: white;
    display:flex;
    flex-direction: column;


    background-color:hsl(184, 100%, 22%);
    /* justify-content: center;
    align-items: center; */
padding-top: 4%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;

img{
 
    height: 60px;
    width: 60px;

 }
 
 h1{
     
  font-size: 50px;  

 }
 p{
     margin-top: 20px;
     /* font: size 10px;
     font-weight:lighter;
     line-height: 25px; */
     font-family: "Lexend Deca", sans-serif;
font-optical-sizing: auto;
font-weight:lighter;
font-style: normal;
font-size: smaller;
font-weight: bolder;
color: rgba(255, 255, 255, 0.562);
 }
 button{
     border:1px solid white;
     border-radius: 40vw;
     padding: 15px;
     color:white;
     background-color:hsl(184, 100%, 22%);
     margin-top: 60px

 }

}
.box3{
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
    height: 400px;
    width: 300px;
    color: white;
    display:flex;
    flex-direction: column;


    background-color:hsl(179, 100%, 13%);
    /* justify-content: center;
    align-items: center; */
padding-top: 4%;
padding-left: 5%;
padding-right: 5%;
padding-bottom: 5%;

img{
 
    height: 60px;
    width: 60px;

 }
 
 h1{
     
  font-size: 50px;  

 }
 p{
     margin-top: 20px;
     /* font: size 10px;
     font-weight:lighter;
     line-height: 25px; */
     font-family: "Lexend Deca", sans-serif;
font-optical-sizing: auto;
font-weight:lighter;
font-style: normal;
font-size: smaller;
font-weight: bolder;
color: rgba(255, 255, 255, 0.562);
 }
 button{
     border:1px solid white;
     border-radius: 40vw;
     padding: 15px;
     color:white;
     background-color:hsl(179, 100%, 13%);
     margin-top: 60px

 }

}

